
<h1> Sign Up </h1>

<%= form_for @user, url: '/signup' do |f| %>

  <br><%= f.label :first_name %>
  <br><%= f.text_field :first_name %>
  <br><%= f.label :Last_name %>
  <br><%= f.text_field :last_name %>
  <br><%= f.label :course %>
  <div><%= f.text_field :course %></div>
  <br><%= f.label :email %>
  <br><%= f.text_field :email %>
  <br><%= f.label :major %>
  <div><%= f.text_field :major %></div>
  <%#= @user.year %>
  <%#= @user.bio %>
  <br><%= f.label :role %>
  <div><%= f.text_field :role %></div>
<!--  <div><%#= f.text_field :followers %></div>-->
<!--  <div><%#= f.text_field :following %></div>-->

  <br><%= f.label :password %>
  <br><%= f.password_field :password %>
  <br><%= f.label :password_confirmation %>
  <br><%= f.password_field :password_confirmation %>
  <br>
  <br><%= f.submit %>
<% end %>
