<%= form_for @user do |f| %>

  <% provide(:title, @user.first_name) %>
  <div class="form-group">
    <%= f.label :Name,'Name:' %>
    <%= @user.first_name %>
    <%= @user.last_name %>
  </div>


  <div class="form-group">
    <%= f.label :course,'Course:' %>
    <%= @user.course %>
  </div>

  <div class="form-group">
    <%= f.label :Email,'Email:' %>
    <%= @user.email %>
  </div>

  <div class="form-group">
    <%= f.label :major,'Major:' %>
    <%= @user.major %>
  </div>

  <div class="form-group">
    <%= f.label :role ,'Role:'%>
    <%= @user.role %>
  </div>

  <div class="form-group">
    <%= f.label :followers ,'Followers'%>
    <%= @user.followers %>
  </div>

  <div class="form-group">
    <%= f.label :following ,'Following'%>
    <%= @user.following %>
  </div>

  <div class="row">

    <aside>
      <section>
      </section>
    </aside>
    <div class="span8">
      <%= render 'follow_form' if signed_in? %>
      <% if @user.posts.any? %>
        <h3>Posts (<%= @user.posts.count %>)</h3>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    </div>
  </div>

  <%= link_to 'Edit Profile', edit_profile_path(@user), method: :get %>

<% end %>
