<html>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<head>
<!--  <%#= content_for :title %> is used display custom titles from different pages-->
<!--  e.g the homepage has given title homepage therefore when the user clicks the title on the favcon
becomes homepage..... BookBytez instead of just BookBytez -->
  <title> <%= content_for :title %> BookBytez</title>
</head>
<body>
<header>
  <nav>
    <ul>
      <li><%= link_to 'Home', root_path %></li>
      <li><%= link_to 'Login', login_path %></li>
      <li><%= link_to 'Sign Up', signup_path %></li>
    </ul>
  </nav>

</header>
<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-12">-->
<!--      <h1>BookBytez</h1>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<main>
  <%= yield %>
</main>
<footer>
  Copyright &copy; <%= Date.today.year %> BookBytez
</footer>
</body>
</html>
